/*
Placeholder for custom user CSS

mainly to be overridden in profile/static/custom/custom.css

This will always be an empty file in IPython
*/

* {
    font-family: Consolas, 'Source Code Pro';
}

h1 {
    border-bottom: 2px solid black;
}

.main-title {
    border: none;
    margin-left: auto;
    margin-right: auto;
    font-weight: normal!important;
    color: #aaa;
    margin-bottom: 1.2em;
    font-family: Open Sans, Consolas, 'Source Code Pro';
    width: 1170px;
}


/* output of cell */
#notebook-container > div.cell.border-box-sizing.code_cell.command_mode.rendered.selected > div.output_wrapper > div.output > div > div.output_subarea.output_text.output_stream.output_stdout > pre {
    font-family: Consolas;
}
#notebook-container > div > div.output_wrapper > div.output > div > div.output_subarea.output_text.output_stream.output_stdout > pre {
    font-family: Consolas;
}
/* markdown cells */
#notebook-container > div.cell.text_cell.border-box-sizing.command_mode.rendered.unselected > div.inner_cell > div.text_cell_render.border-box-sizing.rendered_html > p {
    font-family: Georgia;
}

#notebook-container > div.cell.text_cell.border-box-sizing.command_mode.rendered.selected > div.inner_cell > div.text_cell_render.border-box-sizing.rendered_html > p {
    font-family: Georgia;
}

.dataframe {
    font-family: 'Consolas';
    margin: 25px auto;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);

}
.dataframe tr { 
    background: #f4f4f4;
}

.dataframe tr:hover {
    background: #ddd;
}

.dataframe tr td {
    color: black;
    border: 1px solid #eee;
    padding: 12px 35px;
    text-align: center;
}
    
.dataframe th, td {
        color: #bbb;
        border: 1px solid #eee;
        padding: 12px 35px;
        text-align: center;
        border-collapse: collapse;
    }
.dataframe th {
        background: #ccc;
        color: black;
        text-transform: uppercase;
        font-size: 12px;
}


/* pictures */
img {
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}    

p {
    padding: 0px 0px 0px 20px;
}

nav {
    top: 0;
    margin-left:auto;
    margin-right:auto;
    width: 1170px;
    background-color: #d4ebf2;
    width: 100%;
    height: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 999!important;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li a {
    color: #08c;
    text-decoration: none;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
}

nav ul li a:hover {
    background-color: #eee;
}

nav ul li a:link {
    text-decoration: none;
}


nav > div > ul > li > ul li {
    border-right: solid 5px #08c;
}

nav > div > ul > li > ul li:hover {
    border-right: solid 5px #08c;
}

nav > div > ul {
    float: left;
}

nav > div > ul > li {
    float: left;
    position: relative;
    list-style: none;
}

nav > div > ul > li > a {
    position: relative;
    float: left;
    padding: 29px 30px;
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

nav > div > ul > li:hover {
    border-bottom: solid 5px #08c;
}

nav > div > ul > li:hover > ul {
    display: block;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);

}

nav > div > ul > li > ul {
    display: none;
    position: absolute;
    top: 100%;
    font-size: 16px;
    border-top: solid 5px #08c;
    list-style: none;
}

nav > div > ul > li > ul > li {
    position: relative;
    list-style: none;
    border-right: solid 5px white;
}

nav > div > ul > li > ul > li:hover {
    border-right: solid 5px #08c;
    z-index: 999;
}

nav > div > ul > li > ul > li > a {
    display: block;
    padding: 20px 30px;
    background-color: white;
    width: 125px;
    text-decoration: none;
}

a:visited, a:active, a:link, a:hover {
    text-decoration: none!important;
    border: none;
}
