{% extends "layout.html" %}
{% block content %}

<div class="content container panel panel-default col-sm-8 col-sm-offset-2">
    <div class="text-center panel-heading"><br><br></div>
    <div class="text-left panel-body">
        <p>This is my personal site. I like experimenting with static site
        generators too much, so there isn't much here, but I think I am finally
        settling into this one.</p>
        <div class="text-center">
            <h3>Latest Posts</h3>
        </div>
        <div class="container text-left">
        {% for post in posts %}
        {% if "np" in post.meta['tags'] %}
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-sm-offset-3">
                    <a href={{ url_for("page", path=post.path)}}>{{post.title}}</a>
                </div>
                <div class="col-sm-2">
                    {{post.date}}
                
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}
